
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");


*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}


html, body {
    margin: 0;
    padding: 0;
}

.main-header{
    margin-top: 10px;
    display: flex;
    align-items: center;  
}

.nav ul {
    margin: 0;
    padding: 0;
}


.nav li{
    display: inline-flex;
}

.nav a{
    padding: .5em;
    text-decoration: none;
}

.main-nav {
    flex: 1;
    text-align: end;
    color: #777;
}

.main-nav li {
    padding: 0 3%;
}

.nav a:hover{
    color: rgba(100, 100, 100)
}

.logo{
    height: 90px;
    width: 90px;
    margin-left: 30px;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left a{
    text-decoration: none;
    color: #551A8B;
}

.nav-left h3{
    color: #551A8B;
    margin-left: -1rem;
}

.main-body{
    display: flex;
    flex-direction: column;
}

.first-section{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.main-title{
    color: #551A8B;
    font-size: 3rem;
}

.avatar-logo{
    width: 15%;
    height: 10%;
    border-radius: 50%;
    margin-top: 1%;
    
}

.clipart{
    width: 35%;
    height: 35%;
    margin-top: 4%;
}

.second-section{
    background-color: #7510F7;
    padding: 10rem;


}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info{
    color: white;
}

@media screen and (max-width: 550px){
    .main-nav{
        display: none;
    }

    .main-header{
        display: inline-block;
        width: 100%;
    }

    .nav-left{
        display: inline-block;
        align-items: center;
        text-align: center;
        width: 100%;
    }


    .logo{
        margin-left: 0px;
    }



}

.info-card{
    display: flex;
    justify-content:center;
    flex-grow: inherit;
    
}



.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-right: 2rem;
}

.card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 10px
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #777;
 

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;

  }
